# registry=https://sberosc.sigma.sbrf.ru/repo/npm/
registry=https://nexus-ci.delta.sbrf.ru/repository/npm-all/
audit=false
fetch-retries=5
strict-ssl=false
always-auth=true
@sber-orm:registry=https://nexus-ci.delta.sbrf.ru/repository/npm-dev/
